Dockerfile
docker-compose.yml

.DS_Store
Thumbs.db

*.log
debug.log

.vscode/
.idea/

node_modules/
vendor/

wp-admin/
wp-includes/
wp-*.php
index.php
xmlrpc.php

/wp-content/uploads/
/wp-content/upgrade/
/wp-content/backup-db/

wp-config.php

/wp-content/cache/
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php

/plugins/elementor/